@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@import '../vendor/css/materialize/components/normalize';
@import '../vendor/css/materialize/components/color';
@import 'materialize-variables';
@import '../vendor/css/materialize/materialize';

@import '../vendor/css/bootstrap/variables';
@import '../vendor/css/bootstrap/mixins';

// for lists in pricing
@import '../vendor/css/bootstrap/list-group';

@import 'variables';
@import 'pricing';
@import 'team';
@import 'blog';

.container-wide {
  padding: 0 2em;
}

.no-valign-wrapper-on-mobile {
  @media #{$small-and-down} {
    display: block;
  }
}

.btn,
.btn:hover {
  @include box-shadow(none);
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: $black;
}

.signup-modal {
  .signup-modal-background {
    position: fixed;
    background-color: HSLA(0, 0%, 0%, .8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .signup-modal-content {
    position: fixed;
    top: 5vh;
    left: 30vw;
    background-color: HSLA(0, 0%, 100%, 1);
    width: 40vw;
    height: 90vh;
    border-radius: 5px;
    text-align: center;
    padding: 0 10px;

    // &:hover {
    //   background-color: $secondary-color;
    //   color: $secondary-color;
    //
    //   .signup-modal-quick-terms {
    //     color: $secondary-color;
    //
    //     a {
    //       color: $secondary-color;
    //     }
    //   }
    // }
  }

  .signup-modal-title {
    font-size: 28px;
    padding-top: 80px;
  }

  .signup-modal-description {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 300;

    b {
      font-weight: 400;
    }
  }

  .signup-modal-button {
    display: block;
    margin: 0 auto;
    color: white;
    padding: 16px 20px;
    margin-top: 70px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    max-width: 250px;
    border-radius: 100px;
    background-color: $secondary-color;
  }

  .signup-modal-quick-terms {
    margin-top: 160px;
    color: HSLA(220, 8%, 57%, 1);
    font-weight: 300;
    padding: 10px;
    font-size: 13px;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .signup-modal-quick-terms-title {
    font-weight: 400;
    letter-spacing: .5px;
  }
}

h1 {
  font-size: 35px;
  line-height: 36px;
  margin: 0;
  font-weight: 400;
}

h3 {
  margin-top: 0;
  font-size: 16px;
}

nav {
  @include box-shadow(none);
  background: none;

  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0 0;
  height: 50px;

  .logo img {
    margin-top: 20px;
    height: 30px;
  }

  ul li {
    text-transform: uppercase;

    a {
      font-size: 13px;

      &:not(.btn) {
        @include transition(color .3s);

        &:hover {
          color: $secondary-color;
        }
      }
    }

    &:hover {
      background-color: $no-color;
    }

    .sign-up {
      z-index: 0;
      margin-left: 15px;
      padding: 0 15px;
      background-color: $no-color;
      border: 1px solid $secondary-color;
      color: $secondary-color;

      &:hover {
        color: white;
      }
    }
  }
}

.sign-up-btn {
  margin-top: 10px;
  width: 100%;
  max-width: 220px;
  border-radius: 100px;
  background-color: $secondary-color;
  z-index: 0;
  // background-color: HSLA(2, 86%, 58%, 1);
}

.hero {
  color: $white;
  padding-top: 190px;
  @media #{$small-and-down} {
    padding-top: 290px;
  }
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;

  &.hero-landing {
    background-color: HSLA(216, 38%, 18%, 1);
    background-image: inherit;
    min-height: 110vh;
  }

  .screenshot {
    padding: 10px 0 0;
    margin-bottom: -50px;
  }

  .hero-img {
    margin-bottom: -6px;
  }

  a.github-note {
    font-size: 10px;
    color: $white;
    text-shadow: 0 1px color('blue-grey', 'darken-4');
  }

  .users {
    background-color: color('grey', 'lighten-4');

    img {
      max-height: 50px;
      opacity: .3;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }

    .integrates-with {
      color: $black;
      text-transform: uppercase;
      vertical-align: middle;
      font-weight: 600;
      font-size: 12px;
      padding: 10px 0 0;
    }
  }
}

footer {
  padding: 50px 0;

  ul {
   list-style-type: none;
   li a {
     color: #ef5350;
   }
  }
}

.feature {
  padding: 75px 0 50px;

  .description {
    padding: 0 20px;

    h2 {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .no-right-padding {
    padding-right: 0;
  }

}
