@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@import '../vendor/css/materialize/components/normalize';
@import '../vendor/css/materialize/components/color';
@import 'materialize-variables';
@import '../vendor/css/materialize/materialize';

@import '../vendor/css/bootstrap/variables';
@import '../vendor/css/bootstrap/mixins';

// for lists in pricing
@import '../vendor/css/bootstrap/list-group';

@import 'variables';
@import 'pricing';
@import 'team';
@import 'blog';

.no-valign-wrapper-on-mobile {
  @media #{$small-and-down} {
    display: block;
  }
}

.btn,
.btn:hover {
  @include box-shadow(none);
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: $black;
}

h1 {
  font-size: 35px;
  line-height: 36px;
  margin: 0;
  font-weight: 600;
}

h3 {
  margin-top: 0;
  font-size: 24px;
}

nav {
  @include box-shadow(none);
  background: none;

  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0 0;
  height: 50px;

  .logo img {
    margin-top: 20px;
    height: 30px;
  }

  ul li {
    text-transform: uppercase;

    a {
      font-size: 13px;

      &:not(.btn) {
        @include transition(color .3s);

        &:hover {
          color: $secondary-color;
        }
      }
    }

    &:hover {
      background-color: $no-color;
    }

    .sign-up {
      margin-left: 15px;
      padding: 0 15px;
    }
  }
}

.hero {
  color: $white;
  padding-top: 190px;
  @media #{$small-and-down} {
    padding-top: 290px;
  }
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;

  .screenshot {
    padding: 50px 0 0;
    margin-bottom: -7px;
  }
  
  .sign-up-btn {
    width: 100%;
    margin-bottom: -5px;
  }
  
  a.github-note {
    font-size: 10px;
    color: $white;
    text-shadow: 0 1px color('blue-grey', 'darken-4');
  }

  .users {
    background-color: color('grey', 'lighten-4');

    img {
      max-height: 50px;
      opacity: .3;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }

    .integrates-with {
      color: $black;
      text-transform: uppercase;
      vertical-align: middle;
      font-weight: 600;
      font-size: 12px;
      padding: 10px 0 0;
    }
  }
}

footer {
  padding: 50px 0;

  ul {
   list-style-type: none;
   li a {
     color: #ef5350;
   }
  }
}

.feature {
  padding: 75px 0 50px;

  .description {
    padding: 0 20px;

    h2 {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .no-right-padding {
    padding-right: 0;
  }

}
