@import 'variables';

.blog {
  padding-bottom: 50px;

  h1 {
    padding-bottom: 40px;
  }

  h2 {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }

  .date {
    color: $grey;
    font-weight: 300;
  }

  .post-content {
    padding: 25px 0;
  }

  .author-description {
    padding-top: 10px;

    p {
      margin: 0;
    }
  }

  .posts-list {
    a {
      color: $black;

      &:hover {
        color: $grey;
      }
    }

    h3 {
      margin-bottom: 5px;
    }

    .date {
      -webkit-margin-before: 0;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px solid hsla(0, 0%, 91%, .5);
    }
  }
}
