nav
  .container
    .row
      .col.s12.m6
        a.logo(href='/')
          img(src='/img/logo.png')
      .col.s12.m6
        .right
          ul
            li
              a(href='/team') Our Team
            li
              a(href='/#pricing') Pricing
            li
              a(href='http://app.closeheat.com/users/sign_in') Log In
            li
              a.btn.sign-up(href='http://app.closeheat.com/users/sign_up') Sign Up Free
