nav
  .container
    .row
      .col.s12.m3
        a.logo(href='/')
          img(src='/img/logo.png')
      .col.s12.m9
        .right
          ul
            li.blog
              a(href='/blog') Blog
            li.team
              a(href='/team') Our Team
            li.docs
              a(href='http://docs.closeheatapp.com' target='_blank') Docs
            li.pricing
              a(href='/#pricing') Pricing
            li
              a(href='http://app.closeheat.com/auth/github') Log In
            li
              a.btn.sign-up(href='http://app.closeheat.com/auth/github') Create Now
