nav
  .container-wide
    .row
      .col.s12.m3
        a.logo(href='/')
          include ../img/logo.svg
      .col.s12.m9
        .right
          ul
            li
              a(href='/#features') Features
            li
              a(href='/team') Our Team
            li
              a(href='/blog') Blog
            li
              a.modal-trigger(href='http://app.closeheat.com/auth/github') Log In
            li
              a.modal-trigger.btn.nav-sign-up(href='http://app.closeheat.com/auth/github') Sign Up free
