nav
  .container-wide
    .row
      .col.s12.m3
        a.logo(href='/')
          include ../img/logo.svg
      .col.s12.m9
        .right
          ul
            li
              a(href='/#features') Features
            li
              a(href='/team') Our Team
            li
              a(href='/blog') Blog
            li
              a.modal-trigger(href='http://app.closeheat.com/auth/github') Log In
            li
              a.modal-trigger.btn.nav-sign-up(href='http://app.closeheat.com/auth/github') Sign Up free

.signup-modal.modal
  .signup-modal-content.modal-content
    .signup-modal-close
      i.material-icons shuffle
    .signup-modal-title
      | Get Started
    .signup-modal-description
      | We store <b>your website code</b>
      | <br>in <b>your Github account</b>.
    a.signup-modal-button.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github')
      | Sign Up With GitHub
    .signup-modal-quick-terms
      .signup-modal-quick-terms-title
        | You reserve all the rights to your code.
      .signup-modal-quick-term
        | We care about your security and privacy.
      a.signup-modal-terms(href='#')
        | Terms of Service
