extends partials/hero-layout

block content
  .hero
    .container
      .row.center-align
        .col.m12
          h1 Website Development in the Cloud
          h3 Hosting included. Deployment from GitHub included.
      .row.center-align
        .col.m6.offset-m3.s10.offset-s1.top-hero-cta
          a.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github') Create Free Website Now
          a.github-note(href='http://app.closeheat.com/auth/github') with GitHub integration
    .row.screenshot
      .col.offset-m2.m8.s12
        a(href='http://app.closeheat.com/auth/github')
          img.responsive-img(src='/img/hero.png', alt='Sign Up Now')
    .row.users.center-align
      .container
        .row
          div.col.m12.s12.integrates-with Easy integration with
        .row.center-align
          div.col.m3.s6
            img(src='/img/integrations/segment.png', alt='Segment')
          div.col.m3.s6
            img(src='/img/integrations/github.png', alt='GitHub')
          div.col.m3.s6
            img(src='/img/integrations/optimizely.jpg', alt='Optimizely')
          div.col.m3.s6
            img(src='/img/integrations/ga.png', alt='Google Analytics')

   .testimonials
    .container
      .row
        div.col.l6
          blockquote.twitter-tweet(lang='en')
            p(lang='en', dir='ltr')
            a(href='https://twitter.com/closeheatapp') @closeheatapp
            |  AWSOME APP! So glad I wondered across you site today. Great user on boarding experience. You guys are rocking it.
            | — Aaron Myhre (@Aaron_Myhre) 
            a(href='https://twitter.com/Aaron_Myhre/status/645528684712095744') September 20, 2015
          script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
        div.col.l6
          blockquote.twitter-tweet(lang='en')
            p(lang='en', dir='ltr')
            | Thank you so much to early supporters! closeheat and Alex! We now have a responsive, optimized, and… 
            a(href='https://t.co/LP0IOHWENe') https://t.co/LP0IOHWENe
            | — Tony Powell (@Cephalization) 
            a(href='https://twitter.com/Cephalization/status/626173187898888194') July 28, 2015
          script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
  .features
    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.s12.m5.description.valign
        h2 Quick Development Cycle
        p.flow-text
          | Make changes in your browser. Don't follow developer workflow when doing marketing.
          | Do small changes in the browser - publish them in a few seconds.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')

    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.m5.s12.description.valign
        h2 Free Professional Templates
        p.flow-text
          | Use astounding templates from <a href='http://templated.co' target='_blank'>TEMPLATED</a>
          |  and <a href='http://html5up.net' target='_blank'>HTML5 UP</a> for free.
          | Customize anything and everything.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/templates.gif', alt='Templates')
    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.s12.m5.description.valign
        h2 Push Changes from GitHub
        p.flow-text
          | Use your own text editor, do it localy. As long as you push it to GitHub,
          |  we'll build and publish it. Command-line tools included.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/github.png', alt='GitHub')

  #pricing.pricetable
    .container
      h1.center-align Simple Pricing
      h3.center-align We're on your side
      .row.table
        .col.m4.s12
          .price
            .name Basic
            .total
              span $
              em(data-plan-price='pro') 0
              small /mo
            .subtotal FREE FOREVER
          .property 1 website
          .options
            ul.list-group
              li.list-group-item.header For designers & developers
              li.list-group-item Your own Website
              li.list-group-item Code Editor in Browser
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item
                a.pricing-cta-free.btn(href='http://app.closeheat.com/auth/github') Create Free Website
        .col.m4.s12
          .price
            .recommended Recommended
            .name Professional
            .total
              span $
              em(data-plan-price='pro') 19
              small /mo
            .subtotal Free 14 days trial period
          .property 3 Websites
          .options
            ul.list-group
              li.list-group-item.header For freelancers
              li.list-group-item Your own Website
              li.list-group-item Code Editor in Browser
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item SSL
              li.list-group-item
                a.pricing-cta-recommended.btn(href='http://app.closeheat.com/auth/github') Create Your Website
        .col.m4.s12
          .price
            .name Team
            .total
              span $
              em(data-plan-price='multi') 99
              small /mo
            .subtotal Free 14 days trial period
          .property Unlimited Websites
          .options
            ul.list-group
              li.list-group-item.header For teams & agencies
              li.list-group-item Your own Website
              li.list-group-item Code Editor in Browser
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item SSL
              li.list-group-item App for Local Editing
              li.list-group-item
                a.pricing-cta-team.btn(href='http://app.closeheat.com/auth/github') Create Your Website
