extends partials/hero-layout

block content
  .hero
    .container
      .row.center-align
        .col.m12
          h1 Edit Landing Page Code In-browser
          h3 Quickly build high-converting custom landing pages
      .row.center-align
        .col.m6.offset-m3.s10.offset-s1
          a.btn.btn-large.waves-effect.waves-light(href='http://app.closeheat.com/users/sign_up') Create Landing Page Now
      .row.screenshot
        .col.m12
          a(href='http://app.closeheat.com/users/sign_up')
            img.responsive-img(src='/img/hero.png', alt='')
    .row.users.center-align
      .container
        .row
          div.col.m12.s12.integrates-with Easy integration with
        .row.center-align
          div.col.m3.s6
            img(src='/img/integrations/segment.png', alt='Segment')
          div.col.m3.s6
            img(src='/img/integrations/github.png', alt='GitHub')
          div.col.m3.s6
            img(src='/img/integrations/optimizely.jpg', alt='Optimizely')
          div.col.m3.s6
            img(src='/img/integrations/ga.png', alt='Google Analytics')
  .features
    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.m5.s12.description.valign
        h2 Use beautiful template or import your own HTML
        p.flow-text
          | 100% Customizable landing page templates out of the box. All of which works great
          | with lead pages.
          | Unique landing page templates optimized for conversion.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/templates.gif', alt='Templates')
    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.s12.m5.description.valign
        h2 Change landing pages faster than ever before
        p.flow-text
          | Make changes in your browser. Don't follow developer workflow when doing marketing.
          | Do small changes in the browser - publish them in 10 seconds.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')
    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.s12.m5.description.valign
        h2 Beautiful developer experience with GitHub
        p.flow-text
          | Use your own setup when you like. Sublime Text, GitHub Client, you name it.
          | You can also use our command line tools and publish changes with one-command instead
          | of one-click.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/github.png', alt='GitHub')
  #pricing.pricetable
    .container
      h1.center-align Affordable prices
      h3.center-align Hours of your time saved
      .row.table
        .col.m4.s12
          .price
            .name Basic
            .total
              span $
              em(data-plan-price='basic') 19
              small /mo
            .subtotal Free 14 days trial period
          .property 1 landing page
          .options
            ul.list-group
              li.list-group-item.header For startupers who want to quickly validate their product.
              li.list-group-item Your own Landing Page
              li.list-group-item In-browser Code Editor
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item
                a.btn(href='http://app.closeheat.com/users/sign_up') Create Landing Page Now!
        .col.m4.s12
          .price
            .recommended Recommended
            .name Professional
            .total
              span $
              em(data-plan-price='pro') 49
              small /mo
            .subtotal Free 14 days trial period
          .property 3 Landing pages
          .options
            ul.list-group
              li.list-group-item.header For startupers who want to quickly validate their product.
              li.list-group-item Your own Landing Page
              li.list-group-item In-browser Code Editor
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item SSL
              li.list-group-item
                a.btn(href='http://app.closeheat.com/users/sign_up') Create Landing Page Now!
        .col.m4.s12
          .price
            .name Team
            .total
              span $
              em(data-plan-price='multi') 199
              small /mo
            .subtotal Free 14 days trial period
          .property Unlimited Landing pages
          .options
            ul.list-group
              li.list-group-item.header For teams & agencies who want to iterate quicker.
              li.list-group-item Your own Landing Page
              li.list-group-item In-browser Code Editor
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item SSL
              li.list-group-item App for Local Editing
              li.list-group-item
                a.btn(href='http://app.closeheat.com/users/sign_up') Create Landing Page Now!
