doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Pratt - Free Bootstrap 3 Theme')
    meta(name='author', content='Alvarez.is - BlackTie.co')
    link(rel='shortcut icon', href='ico/favicon.png')
    title closeheat - Automated toolkit for monkey taskas and a powerful hosting platform
    link(href='css/main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
    script(src='js/app.js')
    script(src='js/smoothscroll.min.js')
  body(data-spy='scroll', data-offset='0', data-target='#navigation')
    // Fixed navbar
    .navbar.navbar-default
      .container
          .navbar-header
            a.navbar-brand.brand(href='/')
              img(src='/img/logo.png')
            button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#pricing') Pricing
              li
                a(href='http://app.closeheat.com/users/sign_in') Log In
              li
                p.navbar-text or
              li
                p.navbar-btn
                  a.btn.btn-primary(href='http://app.closeheat.com/users/sign_up') Sign Up Free
    section#home(name='home')
    #headerwrap
      .container
        .row.centered
          .col-lg-12
            h1 Supercharge Your Web App Workflow
            h3 Automated toolkit for monkey tasks and a powerful hosting platform
        .row.centered
          .cta
            a(href='#') Build an app free
          .col-lg-offset-2.col-lg-8
            img.img-responsive(src='/img/app-bg.png', alt='')
            p.clarity
              | A toolkit
              |  which <b>automates your SCSS, Jade and CoffeeScript</b>
              |  compilations, <b>downloads dependencies</b> and
              |  and provides <b>continuous one-liner deployments</b> to a powerful
              |  platform for Static Web Apps.
    section#desc(name='desc')
    // INTRO WRAP
    #intro
      .container
        .row.centered
          h1 Develop With Ease
          br
          br
          .col-lg-4
            img(src='/img/intro01.png', alt='')
            h3 Automated Dependencies
            p
              | Just write <code>require('angular')</code> in your code and
              |  <b>we will download it for you</b>.
              |  Updating that package.json is not cool anymore.
          .col-lg-4
            img(src='/img/intro02.png', alt='')
            h3 Compiles Everything
            p
              | Automatic preprocessing for <b>Jade, SCSS, CoffeeScript and Markdown</b>
              |  without any setup.
          .col-lg-4
            img(src='/img/intro03.png', alt='')
            h3 Server with Auto-Refresh
            p Automatic refresh of browsers every time you edit a file.
        br
        hr
      // / .container
    // / #introwrap
    // FEATURES WRAP
    #features
      .container
        .row
          h1.centered Freedom for Any Framework And
          h3.centered For Any Type of Page
          br
          br
          .col-lg-12.text-center
            img.centered(src='http://unbounce.com/photos/unbounce-mobileresponsive-templates.png', alt='')
          .col-lg-offset-3.col-lg-6
            .row.clarity
              p.lead.text-center
                | Use any Javascript framework without thinking about setup or
                |  searching for a boilerplate. <b>Angular, React, Bootstrap</b>, you
                |  name it.
    // #features
    #platform
      .container
        .row
          h1.centered Powerful Continuous Deployment Platform
          h2.centered We've got teams on our mind
          br
          .col-lg-7
            #carousel-example-generic.carousel.slide
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                li(data-target='#carousel-example-generic', data-slide-to='1')
              // Wrapper for slides
              .carousel-inner
                .item.active
                  img(src='/img/item-01.png', alt='')
                .item
                  img(src='/img/item-02.png', alt='')
          .col-lg-5
            p.lead
              | Deployment is as easy as pushing your code to Github.
              |  Pushing your code is as easy as a single command.
            p
              code
                | closeheat deploy
    #a
      .container
        .row.centered
          h1 Platform for Heroes
          br
          br
          .col-lg-4
            img(src='/img/intro01.png', alt='')
            h3 One-command Deployment
            p
              | Just write require('angular') in your code and we will download it for you.
              |  Updating that package.json is not cool anymore.
          .col-lg-4
            img(src='/img/intro02.png', alt='')
            h3 Versioning via Github and Instant Rollbacks
            p
              | Automatic preprocessing for Jade, SCSS, CoffeeScript and Markdown
              |  without any setup.
          .col-lg-4
            img(src='/img/intro03.png', alt='')
            h3 99.99% Uptime
            p Automatic refresh of browsers every time you edit a file.
        br
    #pricing
      .container
        .row.centered
          h1 Simple Plans
          .plans
            .plan
              h2.plan-title Team
              p.plan-price
                | $49
                span /mo
              ul.plan-features
                li
                  strong Unlimited
                  |  apps
                li
                  strong Private
                  |  repositories
              // a.btn.btn-primary.outline(href='index.html') Get Started - $49
            .plan.plan-tall
              h2.plan-title Starter
              p.plan-price
                | $19
                span /mo
              ul.plan-features
                li
                  strong 5
                  |  apps
                li
                  strong Private
                  |  repositories
              // a.btn.btn-primary.outline(href='index.html') Get Started - $19
            .plan
              h2.plan-title Free
              p.plan-price
                | $0
                span /mo
              ul.plan-features
                li
                  strong 1
                  |  app
                li
                  strong Public
                  |  repositories
              // a.btn.btn-primary.outline(href='index.html') Get Started - $0
      .cta
        a(href='#') Build an app free

      .row.centered#export
        p
          strong Export anytime!
          |  If you decide to go, you can export your app with
          | a single command: <code>closeheat export</code>

    section#contact(name='contact')
    #footerwrap
      .container
        .col-lg-5
          h3 Address
          p
            | Av. Greenville 987,
            br
            | &#x9;&#x9;&#x9;&#x9;New York,
            br
            | &#x9;&#x9;&#x9;&#x9;90873
            br
            | &#x9;&#x9;&#x9;&#x9;United States
        .col-lg-7
          h3 Drop Us A Line
          br
          form(role='form', action='#', method='post', enctype='plain')
            .form-group
              label(for='name1') Your Name
              input#name1.form-control(type='name', name='Name', placeholder='Your Name')
            .form-group
              label(for='email1') Email address
              input#email1.form-control(type='email', name='Mail', placeholder='Enter email')
            .form-group
              label Your Text
              textarea.form-control(name='Message', rows='3')
            br
            button.btn.btn-large.btn-success(type='submit') SUBMIT
