extends partials/hero-layout

block content
  .hero
    .container
      .row.center-align
        .col.m12
          h1 Code, Compile & Deploy Your Website in Browser
          h3 Your Development Environment Up in 1 Minute
      .row.center-align
        .col.m6.offset-m3.s10.offset-s1.top-hero-cta
          a.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github') Create Free Website Now
          a.github-note(href='http://app.closeheat.com/auth/github') with GitHub integration
    .row.screenshot
      .col.offset-m2.m8.s12
        a(href='http://app.closeheat.com/auth/github')
          img.responsive-img(src='/img/hero.png', alt='Sign Up Now')
    .row.users.center-align
      .container
        .row
          div.col.m12.s12.integrates-with Easy integration with
        .row.center-align
          div.col.m3.s6
            img(src='/img/integrations/segment.png', alt='Segment')
          div.col.m3.s6
            img(src='/img/integrations/github.png', alt='GitHub')
          div.col.m3.s6
            img(src='/img/integrations/optimizely.jpg', alt='Optimizely')
          div.col.m3.s6
            img(src='/img/integrations/ga.png', alt='Google Analytics')
  .features
    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.s12.m5.description.valign
        h2 Change website code faster than ever before
        p.flow-text
          | Make changes in your browser. Don't follow developer workflow when doing marketing.
          | Do small changes in the browser - publish them in a few seconds.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')
    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.m5.s12.description.valign
        h2 Use beautiful template or import your own HTML
        p.flow-text
          | 100% Customizable website templates out of the box.
          | Free conversion-oriented landing page templates.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/templates.gif', alt='Templates')
    .feature.row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.s12.m5.description.valign
        h2 Beautiful developer experience with GitHub
        p.flow-text
          | Use your own setup when you like. Sublime Text, GitHub Client, you name it.
          | You can also use our command line tools and publish changes with one-command instead
          | of one-click.
      .col.s12.offset-m1.m6.no-right-padding.valign
        img.responsive-img(src='img/showcase/github.png', alt='GitHub')
  #pricing.pricetable
    .container
      h1.center-align Simple Pricing
      h3.center-align We're on your side
      .row.table
        .col.m4.s12
          .price
            .name Basic
            .total
              span $
              em(data-plan-price='pro') 0
              small /mo
            .subtotal FREE FOREVER
          .property 1 website
          .options
            ul.list-group
              li.list-group-item.header For starting designers & developers.
              li.list-group-item Your own Website
              li.list-group-item Code Editor in Browser
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item
                a.pricing-cta-free.btn(href='http://app.closeheat.com/auth/github') Create Free Website
        .col.m4.s12
          .price
            .recommended Recommended
            .name Professional
            .total
              span $
              em(data-plan-price='pro') 19
              small /mo
            .subtotal Free 14 days trial period
          .property 3 Websites
          .options
            ul.list-group
              li.list-group-item.header For freelancers.
              li.list-group-item Your own Website
              li.list-group-item Code Editor in Browser
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item SSL
              li.list-group-item
                a.pricing-cta-recommended.btn(href='http://app.closeheat.com/auth/github') Create Your Website
        .col.m4.s12
          .price
            .name Team
            .total
              span $
              em(data-plan-price='multi') 99
              small /mo
            .subtotal Free 14 days trial period
          .property Unlimited Websites
          .options
            ul.list-group
              li.list-group-item.header For teams & agencies.
              li.list-group-item Your own Website
              li.list-group-item Code Editor in Browser
              li.list-group-item Custom Domain
              li.list-group-item Toolkit for Local Editing
              li.list-group-item Code Versioning via GitHub
              li.list-group-item Support &amp; Unlimited Hosting
              li.list-group-item Unlimited Rollbacks
              li.list-group-item SSL
              li.list-group-item App for Local Editing
              li.list-group-item
                a.pricing-cta-team.btn(href='http://app.closeheat.com/auth/github') Create Your Website
