extends partials/hero-layout

block content
  .hero.hero-landing
    .row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.l5.valign.hero-text
        .container-wide
          h1 Visual editing layer for your regular website.
          h2
            | Stop struggling with Wordpress themes.
            |  Create a simple HTML website without thinking about content editing.
            |  Have content editing layer for free <b>without spending a minute</b>.

          a.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github') Start innovating
      .col.l7.no-right-padding.valign.hero-img-col
        a(href='http://app.closeheat.com/auth/github')
          img.hero-img.responsive-img(src='/img/editor.png', alt='Sign Up Now')
  // .signup-modal
  //   .signup-modal-background
  //   .signup-modal-content
  //     .signup-modal-title
  //       | Get It Free
  //     .signup-modal-description
  //       | We store <b>your website code</b>
  //       | <br>in <b>your Github account</b>.
  //     a.signup-modal-button(href='#')
  //       | Sign Up With GitHub
  //     .signup-modal-quick-terms
  //       .signup-modal-quick-terms-title
  //         | You reserve all the rights to your code.
  //       .signup-modal-quick-term
  //         | We care about your security and privacy.
  //       a.signup-modal-terms(href='#')
  //         | Terms of Service

  .testimonials.container-wide
    .row
      .col.l6.testimionals-testimional
        .col.l3
          img.testimionals-avatar(src='/img/testimionals/aaron.png')
        .col.l9
          .testimionals-content
            | Awesome app! So glad I wondered across your site today.
            |  Great user onboarding experience.
          .testimionals-author
            | Aaron Myhre, Digital Nomad
      .col.l6.testimionals-testimional
        .col.l3
          img.testimionals-avatar(src='/img/testimionals/tony.png')
        .col.l9
          .testimionals-content
            | We now have a responsive, optimized, and beautiful website built on bootstrap, HTML, and CSS.
          .testimionals-author
            | Tony Powell, Young Tech Enthusiast

  .how.container-wide
    .how-question
      | How does closeheat work?
    .how-icon
      i.material-icons aspect_ratio

    .how-step.row
      .how-step-left.col.l6.valign-wrapper
        .how-step-content
          .how-step-left-icon
            i.material-icons polymer
          h3.how-step-title
            | Choose a Dope Theme
          .how-step-description
            | It's always to start with something.
            | We make sure that the themes we provide are <b>fresh, rare, responsive and made with
            | with incredible quality</b>.
      .how-step-right.col.offset-l1.l5.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')

    .how-step.row
      .how-step-left.col.l6.valign-wrapper
        .how-step-content
          .how-step-left-icon
            i.material-icons polymer
          h3.how-step-title
            | Customize with Visual and Code Editors
          .how-step-description
            | Different people have different approaches to editing their websites.
            | Not everybody wants to dig in the code to change a headline or an image.
            | Not everybody is technical. Embrace that and <b>choose your ways to manage
            | your website content</b>.
      .how-step-right.col.offset-l1.l5.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')

    .how-step.row
      .how-step-left.col.l6.valign-wrapper
        .how-step-content
          .how-step-left-icon
            i.material-icons polymer
          h3.how-step-title
            | Publish Instantly
          .how-step-description
            | <b>Do quick fixes in the browser</b> - iterate quickly.
            | Everything is backed up by GitHub source control. Marketing folks will not
            | even know they are writing code through Visual Editor. Anyone at any skill level
            | can build a fully-functional website. <b>Anyone can collaborate</b>.
      .how-step-right.col.offset-l1.l5.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')

    .how-icon.how-end-icon
      i.material-icons done
    .how-end-title
      | It's alive - Time to Promote your new website
    .how-end-cta
      a.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github') Get Started

  #features.features
    .container-wide
      .features-title
        | Features

      .features-container
        .row
          .col.l3
            .feature-icon
              i.material-icons subtitles
            .feature-title
              | Visual Editing in Browser
            .feature-description
              | Create a website without thinking about content editing. Have content editing layer for free without spending a minute.
          .col.l3
            .feature-icon
              i.material-icons subtitles
            .feature-title
              | Code Editing in Browser
            .feature-description
              | Need to do some bigger design changes? Edit all your CSS, HTML and JavaScript files
              | in your browser. Have hot reload.
          .col.l3
            .feature-icon
              i.material-icons code
            .feature-title
              | Upload your code
            .feature-description
              | Got a website already? We'll provide the visual editing layer then.
              | Our algorithm supports HTML and Markdown.
          .col.l3
            .feature-icon
              i.material-icons spellcheck
            .feature-title
              | Custom domain support
            .feature-description
              | We believe people have the rights to connect their custom domain (whatever.com) without
              | any extra cost.
          .col.l3
            .feature-icon
              i.material-icons dns
            .feature-title
              | Hosting
            .feature-description
              | You worry about incredible website, we worry about hosting it at blazing speeds.
              | Leave it to us.
          .col.l3
            .feature-icon
              i.material-icons web
            .feature-title
              | Use your own text editor
            .feature-description
              | You can use Sublime Text or VIM - as long as you push your changes to GitHub,
              | we'll publish it.
          .col.l3
            .feature-icon
              i.material-icons loop
            .feature-title
              | Integration with GitHub
            .feature-description
              | We sync all your changes to GitHub and publish all your GitHub changes to your
              | website. Continuous deployment.
          .col.l3
            .feature-icon
              i.material-icons subtitles
            .feature-title
              | Command line tools
            .feature-description
              | Publish, check logs, clone websites - it's like Heroku toolbelt for your simple
              | websites.
  .container-wide.last-chance
    .last-chance-title
      div
        | You build an incredible website.
      div
        | We help you manage the content.

    a.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github') Get Started
