extends partials/hero-layout

block content
  .hero.hero-landing
    .row.valign-wrapper.no-valign-wrapper-on-mobile
      .col.s12.m5.valign
        .container-wide
          h1 Visual editing layer for your regular website.
          h2
            | Stop struggling with Wordpress themes.
            |  Create a simple HTML website without thinking about content editing.
            |  Have content editing layer for free <b>without spending a minute</b>.

          a.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github') Start innovating
      .col.s12.m7.no-right-padding.valign.hero-img-col
        a(href='http://app.closeheat.com/auth/github')
          img.hero-img.responsive-img(src='/img/editor.png', alt='Sign Up Now')
  // .signup-modal
  //   .signup-modal-background
  //   .signup-modal-content
  //     .signup-modal-title
  //       | Get It Free
  //     .signup-modal-description
  //       | We store <b>your website code</b>
  //       | <br>in <b>your Github account</b>.
  //     a.signup-modal-button(href='#')
  //       | Sign Up With GitHub
  //     .signup-modal-quick-terms
  //       .signup-modal-quick-terms-title
  //         | You reserve all the rights to your code.
  //       .signup-modal-quick-term
  //         | We care about your security and privacy.
  //       a.signup-modal-terms(href='#')
  //         | Terms of Service

  .testimonials.container-wide
    .row
      .col.l6.testimionals-testimional
        .col.l3
          img.testimionals-avatar(src='/img/testimionals/aaron.png')
        .col.l9
          .testimionals-content
            | Awesome app! So glad I wondered across your site today.
            |  Great user onboarding experience.
          .testimionals-author
            | Aaron Myhre, Digital Nomad
      .col.l6.testimionals-testimional
        .col.l3
          img.testimionals-avatar(src='/img/testimionals/tony.png')
        .col.l9
          .testimionals-content
            | We now have a responsive, optimized, and beautiful website built on bootstrap, HTML, and CSS.
          .testimionals-author
            | Tony Powell, Young Tech Enthusiast

  .how.container-wide
    .how-question
      | How does closeheat work?
    .how-icon
      i.material-icons aspect_ratio

    .how-step.row
      .how-step-left.col.l6.valign-wrapper
        .how-step-content
          .how-step-left-icon
            i.material-icons polymer
          h3.how-step-title
            | Choose a Dope Theme
          .how-step-description
            | Bring your vision to life with the theme that’s right for you. Get your business online, start a blog or open an eCommerce store. It’s easy to get started.
      .how-step-right.col.offset-l1.l5.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')

    .how-step.row
      .how-step-left.col.l6.valign-wrapper
        .how-step-content
          .how-step-left-icon
            i.material-icons polymer
          h3.how-step-title
            | Customize with Visual and Code Editors
          .how-step-description
            | Anyone at any skill level can build a fully-functional website with Weebly. Simply drag and drop images and text and publish when you’re ready. Whether you’re a beginner or professional, the interface is fun to use and there is no coding required.
      .how-step-right.col.offset-l1.l5.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')

    .how-step.row
      .how-step-left.col.l6.valign-wrapper
        .how-step-content
          .how-step-left-icon
            i.material-icons polymer
          h3.how-step-title
            | Publish Instantly
          .how-step-description
            | Anyone at any skill level can build a fully-functional website with Weebly. Simply drag and drop images and text and publish when you’re ready. Whether you’re a beginner or professional, the interface is fun to use and there is no coding required.
      .how-step-right.col.offset-l1.l5.no-right-padding.valign
        img.responsive-img(src='img/showcase/editor.gif', alt='Editor')

    .how-icon.how-end-icon
      i.material-icons done
    .how-end-title
      | It's alive - Time to Promote your new website
    .how-end-cta
      a.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github') Get Started

  #features.features
    .container-wide
      .features-title
        | Features

      .features-container
        .row
          .col.l3
            .feature-icon
              i.material-icons input
            .feature-title
              | Upload your code
            .feature-description
              | Popular apps and services to market your website and grow your business with simple, one-click integrations.
          .col.l3
            .feature-icon
              i.material-icons loop
            .feature-title
              | Integration with GitHub
            .feature-description
              | Popular apps and services to market your website and grow your business with simple, one-click integrations.
          .col.l3
            .feature-icon
              i.material-icons spellcheck
            .feature-title
              | Custom domain support
            .feature-description
              | Popular apps and services to market your website and grow your business with simple, one-click integrations.
          .col.l3
            .feature-icon
              i.material-icons view_module
            .feature-title
              | Hosting
            .feature-description
              | Popular apps and services to market your website and grow your business with simple, one-click integrations.
  .container-wide.last-chance
    .last-chance-title
      div
        | You build an incredible website.
      div
        | We help you manage the content.

    a.btn.btn-large.waves-effect.waves-light.sign-up-btn(href='http://app.closeheat.com/auth/github') Get Started
