extends ../partials/hero-layout


block content
  .blog
    .hero.hero-other
      .container-wide
        .row
          .col.s12
            h1
              | We write things
    .container-wide
      .row
        .col.m6
          .post-content
            - var posts = []
            - posts.push({ title: 'Two Rad Upcoming Features to Push the Envelope', slug: 'two-rad-upcoming-features-to-push-the-envelope', date: '2015-08-09' })
            - posts.push({ title: 'One Thing Successful Companies Do', slug: 'one-thing-successful-companies-do', date: '2015-06-03' })

            ul.posts-list
              each post in posts
                a(href="/blog/#{post.slug}")
                  li
                    h2 #{post.title}
                    p.date #{post.date}
