extends ../partials/hero-layout

block content
  #team
    .hero.hero-other
      .container-wide
        .row
          .col.s12
            h1 Our Team
    .container-wide.team-members
      .row
        .col.m6
          .person
            img.avatar.circle(src='/img/team/domas.jpg', alt='Domas Bitvinskas')
            h2 Domas Bitvinskas
            .team-position CEO & Co-Founder
            .team-description
              | Domas leads the company's vision and growth. The most important thing to him is to be focused on important things. But he's not scared to get his hands dirty either. He's gonna design and code it all just to make the experience for our clients beautiful.
              | Constantly pushes his fears forward by doing all kinds of extreme sports - from skydiving to snowboarding.
        .col.m6
          .person
            img.avatar.circle(src='/img/team/justas.jpeg', alt='Justas Palumickas')
            h2 Justas Palumickas
            .team-position CTO & Co-Founder
            .team-description
              | Justas is the one who brings the teams concepts, designs and technology together. Having an extensive experience in various IT companies before closeheat, he is always the last man standing in technology questions.
      .row
        .col.m6
          .person
            img.avatar.circle(src='/img/team/benas.jpg', alt='Benas Bitvinskas')
            h2 Benas Bitvinskas
            .team-position CDO & Co-Founder
            .team-description
              | Benas drives the company's design strategy and pushing the boundaries of user-centered design forward. Willing to stand on his head if this makes for a better user experience. Also digs brand design and does professional design for more than a year. He codes as well - a killer thing to do for a designer.
        .col.m6
          .person
            img.avatar.circle(src='/img/team/vaida.jpg', alt='Vaida Lekavičiūtė')
            h2 Vaida Lekavičiūtė
            .team-position Head of Cat Relations
            .team-description
              | Vaida leads company's social media efforts and relations. She is the one who sets the guidelines for our content's quality and forces us find better ways to express ourselves. Vaida brings a wealth of experience in Marketing, PR and Communications.
