extends ../partials/hero-layout

block content
  .blog(itemscope="" itemtype="http://schema.org/BlogPosting")
    .hero.hero-other
      .container-wide
          .row
            .col.m12
              h1(itemprop="name headline")
                block post-title
    .container-wide
      .row
        .col.m8
          .post-content(itemprop="articleBody")
            block post-content
          h6.date.right-align
            block post-date
          .row
            block post-author
