extends ../partials/hero-layout


block content
  .blog
    .hero
      .container
          .row.center-align
            .col.m12.s12
              h1
                block post-title
                  | We write things
    .container
      .row
        .col.offset-m2.m8
          .post-content
            block post-content
              - var posts = []
              - posts.push({ title: 'Two Rad Upcoming Features to Push the Envelope', slug: 'two-rad-upcoming-features-to-push-the-envelope', date: '2015-09-09' })
              - posts.push({ title: 'One Thing Successful Companies Do', slug: 'one-thing-successful-companies-do', date: '2015-06-03' })

              ul.posts-list
                each post in posts
                  a(href="/blog/#{post.slug}")
                    li
                      h3 #{post.title}
                      p.date #{post.date}
          h6.date.right-align
            block post-date
          .row
            block post-author
