extends ../partials/hero-layout

block content
  .blog
    .hero
      .container
          .row.center-align
            .col.m12.s12
              h1 We write things
    .container
      .row
        .col.offset-m2.m8
          h2.center-align One Thing Successful Companies Do
          h6.date.center-align 2015-06-03
          .post-content
            include:md blogposts/one-thing.md

          .row
            .col.s5.m2
              img.responsive-img.circle(src='/img/team/domas.jpg', alt='Domas Bitvinskas')
            .col.s7.m9.author-description
              p
                b Domas Bitvinskas
              p CEO & Co-Founder of closeheat
