footer
  .container-wide
    .row
      .col.m6.l6.s12
        .row
          .col.m4.s6
            ul
              li
                a(href="/#features") Features
              li
                a(href="/team") Our Team
              li
                a.modal-trigger(href='https://app.closeheat.com/users/sign_in') Join Closed Beta
              li
                a(href="https://twitter.com/closeheatapp" target='_blank') Twitter
          .col.m4.s6
            .footer-location
              | Kungsgatan 11, Stockholm
              br
              | 03218
              br
              | Sweden
        .row
          .col.s12.footer-mixpanel-badge
            a(href="https://mixpanel.com/f/partner" rel="nofollow")
              img(src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics")

      .col.m6.l6.s12
        .row
          .col.m12
            .footer-drop-title Drop us a line
        form#drop-a-line(role='form')
          .row
            .input-field.col.m12.s12
              input#your-email(type='email')
              label(for='your-email') Your email address

          .row
            .input-field.col.m12.s12
              textarea#your-message.materialize-textarea(rows='3')
              label(for='your-message') Your message

          .row
            .col.col.s12
              button.footer-send#send-message SEND


        #thanks-note.hide
          p: b Thank you for everything!
          p
            | We'll contact you as soon as we find this.
            br
            i (usually in a few hours)
          p
            a.btn.sign-up(href='https://app.closeheat.com/users/sign_in') Create a Website in the Meantime

        #error-note.hide
          p: b There were errors sending your message.
          p
            | Feel free to email us directly on
            |  <a href='mailto:support@closeheat.com'>support@closeheat.com</a>.
            br
            | We'll get back to you a soon as we find it.
            br
            i (usually in a few hours)
